In [13]:
# read data from xlsx
import pandas as pd

df = pd.read_csv('smp.csv')
df.head()

                Provinsi  2021  2022  2023  Status
0   Prov. D.K.I. Jakarta   181   188    39  Negeri
1       Prov. Jawa Barat   502   513   601  Negeri
2      Prov. Jawa Tengah   405   243   337  Negeri
3  Prov. D.I. Yogyakarta     6     9     4  Negeri
4       Prov. Jawa Timur   516   423   842  Negeri

In [14]:
# Hitung total untuk masing-masing tahun berdasarkan status
total = df.groupby('Provinsi').agg({
    '2021': 'sum',
    '2022': 'sum',
    '2023': 'sum'
}).rename(columns={'2021': '2021_Total', '2022': '2022_Total', '2023': '2023_Total'})

# Gabungkan hasil dengan data asli tanpa kolom 'Status'
df_combined = df[['Provinsi']].drop_duplicates().set_index('Provinsi').join(total).reset_index()

# Simpan hasil ke file CSV di folder 'csv'
df_combined.to_csv('smp_total.csv', index=False)