In [2]:
# read data
import pandas as pd

df = pd.read_excel('4.5-new.xlsx')
df.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,...,FootNote,Age,Education level,Location,Nature,Quantile,Reporting Type,Sex,Type of skill,Units
0,4,4.5,4.5.1,SE_AGP_CPRA,Adjusted gender parity index for completion ra...,8,Albania,2000,1.02182,2000,...,NaN,NaN,PRIMAR,ALLAREA,C,_T,G,NaN,NaN,Ratio
1,4,4.5,4.5.1,SE_AGP_CPRA,Adjusted gender parity index for completion ra...,8,Albania,2000,0.99209,2000,...,NaN,NaN,UPPSEC,ALLAREA,C,_T,G,NaN,NaN,Ratio
2,4,4.5,4.5.1,SE_AGP_CPRA,Adjusted gender parity index for completion ra...,8,Albania,2000,0.99978,2000,...,NaN,NaN,LOWSEC,ALLAREA,C,_T,G,NaN,NaN,Ratio
3,4,4.5,4.5.1,SE_AGP_CPRA,Adjusted gender parity index for completion ra...,8,Albania,2001,1.00145,2001,...,NaN,NaN,PRIMAR,ALLAREA,C,_T,G,NaN,NaN,Ratio
4,4,4.5,4.5.1,SE_AGP_CPRA,Adjusted gender parity index for completion ra...,8,Albania,2002,1.00248,2002,...,NaN,NaN,PRIMAR,ALLAREA,C,_T,G,NaN,NaN,Ratio

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65143 entries, 0 to 65142
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Goal               65143 non-null  int64
 1   Target             65143 non-null  float64
 2   Indicator          65143 non-null  object
 3   SeriesCode         65143 non-null  object
 4   SeriesDescription  65143 non-null  object
 5   GeoAreaCode        65143 non-null  int64
 6   GeoAreaName        65143 non-null  object
 7   TimePeriod         65143 non-null  int64
 8   Value              65143 non-null  float64
 9   Time_Detail        65143 non-null  int64
 10  TimeCoverage       0 non-null      float64
 11  UpperBound         0 non-null      float64
 12  LowerBound         0 non-null      float64
 13  BasePeriod         0 non-null      float64
 14  Source             65143 non-null  object
 15  GeoInfoUrl         0 non-null      float64
 16  FootNote           8958 non-null   object
 17  Age                2678 non-null   object
 18  Education level    55281 non-null  object
 19  Location           29715 non-null  object
 20  Nature             65143 non-null  object
 21  Quantile           45151 non-null  object
 22  Reporting Type     65143 non-null  object
 23  Sex                24550 non-null  object
 24  Type of skill      8964 non-null   object
 25  Units              65143 non-null  object
dtypes: float64(7), int64(4), object(15)
memory usage: 12.9+ MB

In [4]:
df.nunique()

Goal                     1
Target                   1
Indicator                1
SeriesCode              15
SeriesDescription       15
GeoAreaCode            183
GeoAreaName            183
TimePeriod              24
Value                38909
Time_Detail             24
TimeCoverage             0
UpperBound               0
LowerBound               0
BasePeriod               0
Source                1237
GeoInfoUrl               0
FootNote               164
Age                      5
Education level          6
Location                 3
Nature                   3
Quantile                 6
Reporting Type           1
Sex                      3
Type of skill           26
Units                    1
dtype: int64

In [5]:
# ambil column selain column yang memiliki unique value 1 atau 0
df = df.loc[:, df.nunique() > 1]
df.nunique()

SeriesCode              15
SeriesDescription       15
GeoAreaCode            183
GeoAreaName            183
TimePeriod              24
Value                38909
Time_Detail             24
Source                1237
FootNote               164
Age                      5
Education level          6
Location                 3
Nature                   3
Quantile                 6
Sex                      3
Type of skill           26
dtype: int64

In [6]:
df_indonesia = df[df["GeoAreaName"] == "Indonesia"]
df_indonesia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 662 entries, 7823 to 64543
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SeriesCode         662 non-null    object
 1   SeriesDescription  662 non-null    object
 2   GeoAreaCode        662 non-null    int64
 3   GeoAreaName        662 non-null    object
 4   TimePeriod         662 non-null    int64
 5   Value              662 non-null    float64
 6   Time_Detail        662 non-null    int64
 7   Source             662 non-null    object
 8   FootNote           6 non-null      object
 9   Age                50 non-null     object
 10  Education level    573 non-null    object
 11  Location           312 non-null    object
 12  Nature             662 non-null    object
 13  Quantile           486 non-null    object
 14  Sex                264 non-null    object
 15  Type of skill      114 non-null    object
dtypes: float64(1), int64(3), object(12)
memory usage: 87.9+ KB

In [7]:
# check missing value for each column
df_indonesia.isnull().sum()

SeriesCode             0
SeriesDescription      0
GeoAreaCode            0
GeoAreaName            0
TimePeriod             0
Value                  0
Time_Detail            0
Source                 0
FootNote             656
Age                  612
Education level       89
Location             350
Nature                 0
Quantile             176
Sex                  398
Type of skill        548
dtype: int64

In [8]:
# persentase missing value
df_indonesia.isnull().mean() * 100

SeriesCode            0.000000
SeriesDescription     0.000000
GeoAreaCode           0.000000
GeoAreaName           0.000000
TimePeriod            0.000000
Value                 0.000000
Time_Detail           0.000000
Source                0.000000
FootNote             99.093656
Age                  92.447130
Education level      13.444109
Location             52.870091
Nature                0.000000
Quantile             26.586103
Sex                  60.120846
Type of skill        82.779456
dtype: float64

In [10]:
df_indonesia["SeriesDescription"].unique()

array(['Adjusted gender parity index for completion rate, by location, wealth quintile and education level',
       'Adjusted location parity index for completion rate, by sex, wealth quintile and education level',
       'Adjusted wealth parity index for completion rate, by sex, location and education level',
       'Gender parity index for youth/adults with information and communications technology (ICT) skills, by type of skill (ratio)',
       'Adjusted gender parity index for participation rate in formal and non-formal education and training (ratio)',
       'Adjusted gender parity index for participation rate in organized learning (one year before the official primary entry age), (ratio)',
       'Adjusted gender parity index for the proportion of teachers with the minimum required qualifications, by education level (ratio)',
       'Adjusted language test parity index for achieving a minimum proficiency level in reading and mathematics (ratio)',
       'Adjusted immigration status parity index for achieving a minimum proficiency level in reading and mathematics (ratio)',
       'Adjusted gender parity index for achieving a minimum proficiency level in reading and mathematics (ratio)',
       'Adjusted rural to urban parity index for achieving a minimum proficiency level in reading and mathematics (ratio)',
       'Adjusted low to high socio-economic parity index for achieving a minimum proficiency level in reading and mathematics (ratio)'],
      dtype=object)

In [12]:
df_indonesia["Location"].unique()

array(['ALLAREA', 'RURAL', 'URBAN', nan], dtype=object)

In [13]:
df_indonesia["Education level"].unique()

array(['PRIMAR', 'LOWSEC', 'UPPSEC', nan, 'SECOND'], dtype=object)